*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:linear-gradient(
        135deg,
        #07122e,
        #0f172a,
        #0a1b3f
    );
    color:white;
    min-height:100vh;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 80px;
}

nav h2{
    font-size:32px;
    font-weight:700;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:35px;
    font-size:17px;
    transition:0.3s;
}

.menu a:hover{
    color:#4ade80;
}

/* HERO */

.hero{
    max-width:1000px;
    margin:auto;
    text-align:center;
    padding:120px 20px 80px;
}

.hero h1{
    font-size:72px;
    line-height:1.1;
    margin-bottom:25px;
}

.hero p{
    font-size:24px;
    color:#cbd5e1;
    line-height:1.8;
    max-width:800px;
    margin:auto;
}

button{
    margin-top:40px;
    padding:18px 40px;

    background:#22c55e;
    color:white;

    border:none;
    border-radius:14px;

    font-size:20px;
    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);
    background:#16a34a;
}

/* FEATURES */

.features{
    max-width:1300px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(2,1fr);

    gap:30px;

    padding:40px;
}

/* GLASS CARDS */

.card{

    background:rgba(255,255,255,0.06);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:24px;

    padding:35px;

    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    font-size:30px;
    margin-bottom:15px;
}

.card p{
    font-size:18px;
    color:#cbd5e1;
    line-height:1.7;
}

/* MOBILE */

@media(max-width:900px){

    .hero h1{
        font-size:50px;
    }

    .hero p{
        font-size:20px;
    }

    .features{
        grid-template-columns:1fr;
    }

}