<!DOCTYPE html>
<html>
<head>
    <title>EcoTrack AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>

    <h2>🌍 EcoTrack AI</h2>

    <div class="menu">
        <a href="#">Home</a>
        <a href="#">Features</a>
        <a href="#">About</a>
    </div>

</nav>

<section class="hero">

    <h1>
        Track Your Carbon Footprint
        and Build a Greener Future
    </h1>

    <p>
        Reduce emissions, grow your virtual tree,
        compare your impact with others,
        and receive AI-powered sustainability insights.
    </p>

    <a href="/calculator">
        <button>Get Started</button>
    </a>

</section>

<section class="features">

    <div class="card">
        <h2>🌳 Virtual Tree</h2>
        <p>
            Grow a digital tree as your carbon footprint decreases.
            Watch your environmental impact become visible.
        </p>
    </div>

    <div class="card">
        <h2>🎯 Carbon Simulator</h2>
        <p>
            Predict future carbon savings instantly by changing
            your daily habits and lifestyle choices.
        </p>
    </div>

    <div class="card">
        <h2>🏆 Eco Battle</h2>
        <p>
            Compare your carbon score with average students
            and challenge yourself to improve.
        </p>
    </div>

    <div class="card">
        <h2>🤖 AI Eco Coach</h2>
        <p>
            Get personalized recommendations and practical
            eco-friendly suggestions powered by AI.
        </p>
    </div>

</section>

</body>
</html>